@{
    Account user = Session["USER"] as Account;
}
@using PNG.Models
@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (@TempData["DELETE_PRODUCT"] != null)
{
    <div class="alert alert-primary" role="alert">
        @TempData["DELETE_PRODUCT"]
    </div>
}
@Html.ActionLink("New Product", "Create", "Product", htmlAttributes: new { @class = "btn btn-danger"})
<div class="category row">
    <div class="col-md-8">
        <ul class="list-group list-group-horizontal-md">
            @foreach (Category category in ViewBag.Category)
            {
                <li class="list-group-item">
                    @Html.ActionLink((string)@category.CategoryName, "Search", "Product", new { categoryId = category.CategoryID }, htmlAttributes: null)
                </li>
            }

        </ul>
    </div>
    <div class="col-md-4 col-sm-12" style="margin-top:0.5%;">
        @using (Html.BeginForm("Search", "Product", FormMethod.Post, new { @class = "form-inline my-2 my-lg-0" }))
        {
            @Html.TextBox("search", "", new { @class = "form-control mr-sm-2" })
            <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
        }
    </div>
</div>

<div class="row productList">
    @foreach (Product product in ViewBag.Product)
    {
        <div class="col-md-4">
            <a href="/Product/Detail/@product.ProductID" class="home-product">
                <div class="product card text-center mb-4 shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><image href="~/Content/Resource/@product.Image" height="100%" width="100%" /></svg>
                    <div class="card-body">
                        <h5 class="card-title" style="font-size: 1rem;">@product.ProductName</h5>
                        <p class="card-text price">$ @product.Price</p>
                        @if (Session["USER"] != null && user.RoleID == 1)
                        {
                            @Html.ActionLink("Update", "Update", "Product", new { id = product.ProductID }, new { @class = "btn btn-danger btn-block" })
                            @Html.ActionLink("Delete", "Delete", "Product", new { id = product.ProductID }, new { @class = "btn btn-warning btn-block" })
                        }
                    </div>
                </div>
            </a>
        </div>
    }
</div>