@model IEnumerable<PNG.Models.Cart>
@using PNG.Models
@{
    ViewBag.Title = "Order History";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


@if (Model.Count() > 0)
{
    <h2 class="text-center">History</h2>
    <hr />
    foreach (Cart item in Model)
    {
        int count = 1;
        <div class="alert alert-secondary order" role="alert">
            <div class="row">
                <div class="col-6">
                    <h5 class="alert-heading">Customer Name: @item.Name </h5>
                    <h5 class="alert-heading">Order Date: @item.OrderDate</h5>
                    <h5 class="alert-heading">Phone: @item.Address</h5>
                    <h5 class="alert-heading">Phone: @item.Phone</h5>
                </div>
                <div class="col-6">
                    <h5></h5>
                    <h5 class="alert-heading">Payment Method: @item.PaymenType</h5>
                    @if (@item.StatusID == 5)
                    {
                        <h5 class="alert-heading">Payment Status: Not yet</h5>
                    }
                    else if (@item.StatusID == 6)
                    {
                        <h5 class="alert-heading">Payment Status: Paid</h5>
                    }
                </div>
            </div>
            <hr>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Name</th>
                        <th>Quantity</th>
                        <th>Unit Price</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Product product in item.CartDetail.Values)
                    {
                        <tr>
                            <td>@(count++)</td>
                            <td>@product.ProductName</td>
                            <td>@product.Quantity</td>
                            <td>@product.Price $</td>
                            <td>@(product.Quantity * product.Price) $</td>
                        </tr>
                    }

                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><b>Total</b></td>
                        <td><b style="color:chocolate">@item.TotalPrice $</b></td>
                    </tr>
                </tbody>
            </table>
        </div>
    }
}
else
{
    <div class="alert alert-secondary" role="alert">
        <p class="text-center">Bạn chưa từng đặt hàng.</p>
    </div>
    @Html.ActionLink("Continue shopping", "Index", "Home", null, htmlAttributes: new { @class = "btn btn-secondary" })
}
